/* UTILITIES */
/* Layout */
.container{
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.a-items-center{
    align-items: center;
}

/* Text */
.text-uppercase{
    text-transform: uppercase;
}